
#gameContainer{
    background-color: papayawhip;
    height: 500px;
    width: 900px;
}

#gameUI{
    background-color: aliceblue;
    height: 20px;
    width: 900px;
}

#gameBoard{
    background-color: pink;
    height: 500px;
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#pizzaPlayer{
    border-radius: 50%;
    width:60px;
    height:60px;
    background-color:#DFA060;
    border-color:BurlyWood;
    border-style:solid;
    border-width:6px;
    background-image: url("../images/emoji.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    position: absolute;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /*-webkit-transition: transform 0s linear;
    transition: transform 0s linear;*/
    /*-webkit-transition: all 0.3s ease-out , top 0.5s ease-in;*/
    transition: all 0.3s ease-out, top .3s cubic-bezier(0,.99,.01,1);
    top: -100px;
    left: 20px;
}

.collectable{
    position: absolute;
}

/* abstract pizza classes*/
.plainPizza{
    
}